version: '3.2'

# Uncomment the build context information for any images that you're modifying locally
# and point them to the proper directory(ies).

services:

  synapse:
#    build:
#      context: ../synapse
#      dockerfile: docker/Dockerfile
    environment:
      # Don't try to get a cert, run in insecure mode
      - SYNAPSE_ACME=0
      - SYNAPSE_NO_TLS=1
    ports:
      # Map the insecure port for local dev
      - "8008:8008/tcp"

  bridge:
#    build:
#      context: ../matrix-appservice-irc

  javabots:
#    build:
#      context: ../bots
#      dockerfile: Dockerfile-javabots

  mobot:
#    build:
#      context: ../bots
#      dockerfile: Dockerfile-mobot
